<body class="test">
    <div id="page-container">
        <div class="test" id="content-wrap">
            <h1 class="test">Prime Number Checker</h1>

            <form action="/" id="attempt-form" method="POST" class="new-attempt">
                <label class="test" for="number">Input Number:</label>
                <input class="test" id="number" type="number" name="number">
                <button class="test" type="submit">Submit</button>
            </form>
            <p class="test" id="errorMessage"></p>
            <ul class="test" id="attempts"></ul>
            <button class="test" id="danger">Danger</button>
        </div>
        <footer class="test">
                Aughdon (Audie) Breslin 10447694
        </footer>
    </div>
<script src="public/form.js"></script>
</body>