
<main>
    <h1 class="danger">{{title}}</h1>

    <form id="searchForm">
        <label for="search_term">Search Shows:</label>
        <input type="text" id="search_term" name="search_term">
        <button type="submit">Submit</button>
    </form>
    
    <a id="homeLink" href="/">Back to All Shows.</a>

    <div id="show"></div>
    <ul id="showList"></ul>

    <footer>
            Aughdon (Audie) Breslin 10447694
    </footer>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script src="/public/js/basic_ajax_with_jquery.js"></script>
