<body>
    <div id="page-container">
        <div>
            <h1>{{title}}</h1>
            <h2>Welcome, {{username}}.</h2>
            <p id="errorMessage">{{error}}</p>
        </div>
        <div>
            <a href="/logout">Tired of living the sweet life?</a>
        </div>
        <footer>
                Aughdon (Audie) Breslin 10447694
        </footer>
    </div>
</body>